/output/
query_visualization/export
/tmp
/.las2peer
/.settings
/node-storage
/startup
query_visualization/log
/lib
/service
etc/startup
*.iml
/.idea
restMapping.xml
/out
.DS_Store
.DS_Store?
/bin/start_network.*
junit*.properties

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
etc/startup/*
export/test_reports/TEST-i5.las2peer.services.mobsos.queryVisualization.ServiceTest.txt
log/*
export/jacoco.exec
etc/ivy/ivy.jar
